.cart {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 20%;
  max-width: 20%;
  max-height: 60%;
  background-color: #dbdbdb;
  overflow: auto;
  border-style: none;
  padding: .5rem;
  margin: 10px;
  box-shadow: 0 0 1rem rgba(242, 240, 240, 0.5);
  border-radius: .5rem;
}

.cart:hover {
  opacity: 1.0;
}

.cart h2 {
  font-size: 1.5rem;
  padding-bottom: .5rem;
  margin: 1rem 0;
  background-color: transparent;
}

.cart .close {
  position: absolute;
  top: .5rem;
  right: .5rem;
  cursor: pointer;
  color: var(--tertiary);
}

.cart .close:hover {
  text-decoration: underline;
}

.cart-closed {
  position: fixed;
  top: 2%;
  right: 1%;
  font-size: 2rem;
  cursor: pointer;
  
  background-color: #ffff;
  border-radius: 20%;
  padding: .25rem;
  width: 50px;
  height: 50px;
}

.cart-closed:hover {
  cursor: pointer;
  transform: rotate(3deg);
}

.cart img {
  width: 70px;
  margin-right: 1rem;
}

.cart input {
  width: 50px;
  padding: 0;
  margin: 0 .5rem 1rem 0;
}

@media screen and (max-width: 768px) {
  .cart {
    position: relative;
    max-width: 100%;
    max-height: auto;
    box-shadow: none;
    background-color: inherit;
  }

  .cart-closed {
    position: relative;
    margin: 0 auto;
  }
}